
<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="login-form" class="card-body">
        <label class="form-label" for="email-login">Email:</label>
        <input class="form-input"  type="text" id="email-login" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />
        
            <button type="submit" class="btn">Login!</button>
    </form>
</div>

<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form id="signup-form" class="card-body">
        <label class="form-label" for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />

        <label class="form-label" for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />

        <label class="form-label" for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />

        <button type="submit" class="btn">Sign Up</button>
    </form>

</div>

<script src="/javascript/login.js"></script>