{{> post-info post }}

<div class="card">
    <h3 class="card-header">Comment</h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label"></label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>

